<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{{htmlWebpackPlugin.options.title}}</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://api-maps.yandex.ru/2.1/?apikey=f6b19e29-abd0-485e-8c99-598423be7a7e&lang=ru_RU" type="text/javascript"></script>
</head>
<body>
    <div id="map"></div>
</body>
</html>
