<form id="form-signin" class="form-signin">
    <img class="mb-4" src="/docs/4.5/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Авторизация</h1>
    <p class="text-center">Введите пожалуйста свое ФИО и ник для дальнейшей авторизации</p>
    <input type="text" id="fioInput" class="form-control mb-2" placeholder="Введите ФИО" required="" autofocus="" autocomplete="off">
    <input type="text" id="nameInput" class="form-control mb-2" placeholder="Введите ник, только латиница" required="" autocomplete="off">
    <button id="loginSubmit" class="btn btn-lg btn-primary btn-block" type="submit">Войти</button>
</form>